* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;


    

    background-color: black;
    color: white;
  
}




.box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}