* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    border: 10px solid rgb(151, 89, 89);
    border-radius: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    color: red;


}