body{
    background: #000;
    color: aliceblue;
    font-family: sans-serif;
     align-content: center;
    text-align: center; 
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;

}
h1{
    font-style: italic;
    font-size: 30px;
    
}
p{
    font-size: 15px;

}
.time{
    align-content: center;
    text-align: center;
    /* align-self: center; */
}