*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.color-box{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 100%;
    height: 100vh;
    /* margin: 10px; */
    /* display: inline-block; */
    /* border-radius: 5px; */
    /* transition: background-color 0.3s ease;
     */
     display: flex;
     justify-content: center;
     
}
h1{
    text-align: center;
    font-size: 80px;
    color: #636363;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
}