* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-image: url(backgroundimg.webp);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: visible;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    height: 400px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: lightgray;
}

.box {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color:black;
    text-align: center;

}

.p1 {
    display: inline-block;
    justify-content: left;
    align-items: center;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bolder;


}

.h2 {
    display: flex;
    justify-content: left;
    align-items: center;
    color: lightblue;
    text-align: center; 
       font-size: x-large;
    font-weight: bolder;  

}

.p2 {
    display: inline-block;
    justify-content: left;
    align-items: center;
    color: black;
    text-align: center;
       font-size: larger;
    font-weight: bolder;


}

.h4 {
    display: flex;
    justify-content: left;
    align-items: center;
    color:lightblue;
    text-align: center;
       font-size: x-large;
    font-weight: bolder;


}

.p4 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
       font-size: larger;
    font-weight: bolder;

}