
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #110f0f;
  flex-direction: column;
  gap: 20px;
}
.containar{
  background: #474747;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: 4px solid silver;
  box-shadow: 2px 3px  7px #131212 ;
  gap:0Px;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap-reverse;


}
.center-0{
   font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    
    text-align: center;
    align-content: center;
   
  font-family: sans-serif;
  color: white;
  height: 50px;
  width: 240px;
  background-color:#131212 ;

  border-radius: 7px;
  position: relative;
  left: 5px;
  top: 1px;
  font-family: sans-serif;
  


}
.screen{
  background: #474747;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: 4px solid silver;
  box-shadow: 2px 3px  7px #131212 ;
  /* gap:10Px; */
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap-reverse;


}
.border{
      background: #474747;
  width: 270px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 10px;
      box-shadow: 2px 2px  7px #a3a3a3 ;

}

.border-0 {
      background: #474747;
  width: 270px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 10px;
      box-shadow: 2px 2px  7px #a3a3a3 ;



}
.btn{
    background-color: black;
    /* gap:px; */
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius:5px ;
      box-shadow: 2px 3px  7px #131212 ;

    


}
.sub{
    background-color: black;
    /* gap: 3px; */
    font-style: italic;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius:5px ;
      box-shadow: 2px 3px  7px #131212 ;

    position: relative;
    bottom: -10px;


}
.div{
    background-color: black;
    /* gap: 3px; */
    font-style: italic;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius:5px ;
      box-shadow: 2px 3px  7px #131212 ;
    position: relative;
    top: 20px;

    


}
.multiply{
    background-color: black;
    /* gap: 3px; */
    /* font-style: italic; */
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius:5px ;
      box-shadow: 2px 3px  7px #131212 ;

        position: relative;

        bottom: 3px;



}
.add{
    background-color: black;
    /* gap: 3px; */
    /* font-style: italic; */
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius:5px ;
      box-shadow: 2px 3px  7px #131212 ;
      height: 80px;
      position: relative;
      bottom: 13px;

    


}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
  
    position:relative;
    left:10px;

}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
        height:5px;
        position:relative;
        left:10px;

}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
        height: 45px;
        position:relative;
        left:10px;

}
.operators{
  padding: 0;
  margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* gap:10px; */
    flex-direction: column;
    position:absolute;
    left: 812px;

    
    

}
.last{
     display: flex;
    justify-content: center;
    align-items: center;
        height: 50px;

  
        position:relative;
        left:10px;
    
}
.btn-0{
  height: 80px;
  position: relative;
  bottom:5px;

}
.submit{
  gap: 10px;
  width: 110px;
  align-content: center;
  text-align: center;
  font-weight: 700;

  border-radius: 5px;
  height: 80px;
  position: relative;
  bottom:5px;
  left: 10px;

  

  background-color:rgba(153, 118, 5, 0.932);
}