*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background-image: url(Old\ Clock\ Wall\ Image.jpg);
background-size: cover;
}
.clock-face{
    background-color: rgba(190, 190, 190, 0.849);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: relative;
    margin: 100px auto;
    border: 20px solid rgba(15, 15, 15, 0.596);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hand{
    position: absolute;
    bottom: 48%;
    
    background-color: black;
    border-radius: 30%;
    transform-origin: bottom center;

    transition: all 0.2s cubic-bezier(0.275, 0.885, 0.12, 1.3500);
}

/* .center-point{
        position: absolute;
    bottom: 53%; 
    
background-color: rgba(190, 190, 190, 0.849);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
} */

.second{
    background-color: rgba(0, 0, 0, 0.808);
    height: 260px;
    width: 8px;
    
}
.hour{
    width: 12px;
    border-color: rgba(0, 0, 0, 0.822);
    height: 200px;

}
.min{
    width: 10px;
    height: 240px;

    background-color: rgba(0, 0, 0, 0.849);
}
.count-1{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: black;
    font-weight: bold;  
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 554px;
    text-align: center;

    justify-content: space-between;
}
.count-2{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: black;
    font-weight: bold;  
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 554px;
    text-align: center;
    transform: rotate(30deg);

    justify-content: space-between;
}
.count-3{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: black;
    font-weight: bold;  
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 554px;
    text-align: center;
        transform: rotate(60deg);


    justify-content: space-between;
}
.count-4{ 
    
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: black;
    font-weight: bold;  
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 554px;
    text-align: center;
    
    transform: rotate(90deg);
    justify-content: space-between;
}
.count-5{   
    
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: black;
    font-weight: bold;  
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 554px;
    text-align: center;
    
    justify-content: space-between;
    transform: rotate(120deg);
}

.count-6{    
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: black;
    font-weight: bold;  
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 554px;
    text-align: center;
    
    justify-content: space-between;
    transform: rotate(150deg);
}
.count{
    transform: translateX(-10px);
    transform: translate(-11px ,-300px);
}
