body {
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#toDo {
    border: 1px solid gray;
    border-radius: 2px;
    background-color: lightblue;
    color: black;
    margin: 10px;

    width: 100%;
    height: 30px;
}

.btn {
    border: 1px solid gray;
    border-radius: 6px;
    background-color: lightblue;
    color: black;

    width: 100px;
    height: 30px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}