body{
    background: #000;
    font-family: serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}
#yellow{
    background: yellow;
    width: 110px;
    height: 50px;
    border-radius:10px;

}
#blue{
    background: blue;
    width: 110px;
    height: 50px;
    border-radius:10px;

}
#green{
    background: green;
    width: 110px;
    height: 50px;
    border-radius:10px;

}
#gray{
    background: gray;
    width: 110px;
    height: 50px;
    border-radius:10px;

}
#red{
    background: red;
    width: 110px;
    height: 50px;
    border-radius:10px;

}
#silver{
    background: silver;
    width: 110px;
    height: 50px;
    border-radius:10px;

}