body{
    background-color: rgb(26, 26, 26);
    color:white;
    font-weight: bold;
    font-family: sans-serif;

}
form{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;


}