body{
    background: #000;
    color: white;
    display: flex;
    justify-content: center;

    align-items: center;
    height: 100vh;
    gap: 10px;
}
.box-0{
    border: 2px solid black;
    border-radius: 50%;
}
.box-1{
    background: lightblue;
    color: #000;
    border: 2px solid black;
    border-radius: 4px;
    width: 300px;
    display: inline-block;
    height:300px;

    align-content:center;
    text-align:center;
}
.box-2{
    background: lightblue;
    color: #000;
    border: 2px solid black;
    border-radius: 4px;
    width: 300px;
    display: inline-block;
    height:300px;

    align-content:center;
    text-align:center;
}
.box-3{
    background: lightblue;
    color: #000;
    border: 2px solid black;
    border-radius: 4px;
    width: 300px;
    display: inline-block;
    height:300px;

    align-content:center;
    text-align:center;
}
.box-4{
    background: lightblue;
    color: #000;
    border: 2px solid black;
    border-radius: 4px;
    width: 300px;
    display: inline-block;
    height:300px;

    align-content:center;
    text-align:center;
}
