body{
    background: #000;
    color: antiquewhite;
    font-family: serif;
    text-align: center;
}
h1{
    font-weight: bold;
    font-style: italic;

    font-size: 50px;
}
p{
    font-size: 20px;
}